<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/main.css') }}>
    <title>Puppet Flask App</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}
      <div class="content-box">
        <img src='static/img/logo.png' />
        <h1 style="color: white">Version Number: {{ version }}</h1>
        <p>The shortest path to better <span style="color: #ffa61a">{{ tagline }}</span>.</p>
      </div>
    {% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
